services:
  app:
    environment:
      - BETTER_AUTH_SECRET=${BETTER_AUTH_SECRET}
      - BETTER_AUTH_URL=${BETTER_AUTH_URL}
      - NODE_ENV=development
    ports:
      - 3000:3000
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.nuxt
    build: .
    restart: unless-stopped
